<section id="articles">
  <ul>
    {{#each articles }}
      <li>
        <a href="{{this.title}}">
          <div class="card-container">
            <div class="card-img">
              {{!-- <img src="{{img-src}}" alt="{{img-alt}}"> --}}
              <img src="https://placehold.co/500" alt="{{img-alt}}">
            </div>
            <div class="card-content">
              <h3>{{this.title}} - title placeholder</h3>
            </div>
          </div>
        </a>
      </li>
    {{/each}}
  </ul>
</section>