<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Leniel Luzardo - {{ title }}</title>
</head>
<body>

{{ header }}  
 
  <main>
    <h1>{{title}}</h1>
    <p>{{date}}</p>
    <div style="border:1px solid red">{{{content}}}</div>
  </main>

 {{footer }}
  
  <script type="module" src="script.js"></script>
</body>
</html>