
<section id="blog">
    <article id="article" class="roundbox">
      <header>
      {{#with meta}}

        <h1>
          {{ title }}
        </h1>
        
        <time datetime="{{date_created}}">{{date_created}}</time>

        <div class="img-container">
          <img src={{article_img_url}} alt={{article_img_alt}}>
        </div>
      {{/with}}
      </header>
      
        <!--#region Article Content -->
      <section class="article-content">

        {{{content}}}

      </section>
        <!--#endregion -->

      {{!-- <aside> --}}
        {{!-- related articles partial here ex: If is a tutorial that expand over several articles --}}
      {{!-- </aside> --}}
    </article>


{{!-- latest articles partial this is for the latest articles in the blog --}}
  {{> articles }}
</section>